<nav class="page-nav">
  <div class="container">
    <ul class="page-nav-menu">
      <li class="page-nav-item">
        <a href="/" class="page-nav-link active">Home</a>
      </li>
      <li class="page-nav-item">
        <a href="/updates" class="page-nav-link">Weekly Updates</a>
      </li>
      <li class="page-nav-item">
        <a href="/articles" class="page-nav-link">Articles</a>
      </li>
      <li class="page-nav-item">
        <a href="/about" class="page-nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>
